.u-section-1 {
  background-image: none;
  min-height: 810px;
}

.u-section-1 .u-shape-1 {
  width: 364px;
  height: 809px;
  margin: 1px auto 0 calc(((100% - 1140px) / 2) + 180px);
}

.u-section-1 .u-layout-wrap-1 {
  width: 790px;
  margin: -749px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-layout-cell-1 {
  min-height: 621px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-image-1 {
  height: 413px;
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  width: calc(((100% - 1140px) / 2) + 451px);
  min-height: 413px;
  grid-template-columns: repeat(1, 100%);
  height: auto;
  grid-gap: 10px;
  margin: -492px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px -90px 0 90px;
}

.u-section-1 .u-list-2 {
  width: 408px;
  min-height: 546px;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(1, 100%);
  height: auto;
  grid-gap: 10px;
  margin: -403px calc(((100% - 1140px) / 2) + -28px) 65px auto;
}

.u-section-1 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 73px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 264px 0 20px;
}

.u-section-1 .u-text-3 {
  margin: -51px 0 0 115px;
}

.u-section-1 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 73px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 264px 0 20px;
}

.u-section-1 .u-text-4 {
  margin: -51px 0 0 115px;
}

.u-section-1 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 30px 73px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 264px 0 20px;
}

.u-section-1 .u-text-5 {
  margin: -51px 0 0 115px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 275px;
    left: 183px;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 590px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    width: 350px;
    grid-template-columns: 100%;
    margin-left: calc(((100% - 1140px) / 2) + 20px);
  }

  .u-section-1 .u-list-2 {
    width: 622px;
    min-height: 507px;
    grid-template-columns: 100%;
    margin-right: calc(((100% - 940px) / 2) + -242px);
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 289px;
  }

  .u-section-1 .u-shape-1 {
    width: 302px;
    height: 684px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 1px auto 0 calc(((100% - 1140px) / 2) + 343px);
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-list-1 {
    width: 710px;
    grid-template-columns: repeat(2, calc(50% - 5px));
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-list-2 {
    margin-right: calc(((100% - 720px) / 2) + -242px);
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    height: 575px;
    margin-right: calc(((100% - 1140px) / 2) + 405px);
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    height: 325px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-2 {
    margin-right: calc(((100% - 540px) / 2) + -242px);
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 158px;
    height: 430px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 492px);
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
  }

  .u-section-1 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-icon-1 {
    margin-left: 6px;
    margin-right: 250px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 6px;
    margin-right: 250px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 6px;
    margin-right: 250px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 662px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 93px;
  margin-bottom: 48px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 522px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 10px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 24px -25px 0 25px;
}

.u-section-2 .u-form-1 {
  height: 317px;
  margin: 20px 13px -14px -27px;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 430px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 104px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-form-1 {
    margin-top: 191px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 316px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 474px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-2 {
    min-height: 298px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 462px;
}

.u-section-3 .u-table-1 {
  margin-top: 57px;
  margin-bottom: 60px;
}

.u-section-3 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-5 {
  background-image: none;
}

.u-section-3 .u-table-cell-9 {
  background-image: none;
}

.u-section-3 .u-table-cell-13 {
  background-image: none;
}

.u-section-3 .u-table-cell-17 {
  background-image: none;
}

.u-block-1d3b-35 {
  background-image: none;
}.u-section-4 .u-sheet-1 {
  min-height: 683px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 206px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 60px 0;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 367px;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 50px 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 526px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 170px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 303px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 434px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 332px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 498px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 314px;
  }
}